* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Globally*/
.menu-btn {
  top: 15%;
  width: 15%;
  float: left;
  margin: 3px;
  height: 440px;
  line-height: 70px;
  position: absolute;
  text-align: center;
  border-radius: 24px;
  background-color: #eee;
}

.menu-btn button {
  width: 100px;
  height: 30px;
  border-radius: 15px;
}
/* input search engin top right the corner*/

/*aside right for navigator
@keyframes move {
  0% {
    left: 0%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 0%;
  }
}
.logo {
  position: relative;
  animation-name: move;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
*/
.side {
  margin: 5px;
  width: auto;
  height: 480px;
  position: absolute;
  text-align: center;
  align-items: center;
  background: #0044;
}

ul li .btn {
  display: flex;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #000000;
  background: none;
  font-family: Arial, sans-serif;
}
/* display the form-box in center with width height and etc*/
#show-form {
  display: none;
  margin-left: 105%;
  position: absolute;
}
.form-box {
  width: 380px;
  height: 480px;
  padding: 5px;
  margin: 1% auto;
  overflow: hidden;
  position: absolute;
  background: #0044;
}
/*line for two button to be switch the buttons*/
.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
}
.toggle-btn {
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 10px 30px;
  position: relative;
  background: transparent;
}
/* For button styling*/
#btn {
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  transition: 0.5s;
  position: absolute;
  border-radius: 30px;
  background: #fffffe;
}
/* transform the button both*/
.input-group-login {
  top: 150px;
  width: 280px;
  transition: 0.5s;
  position: absolute;
}
.input-group-sign-up {
  top: 120px;
  width: 280px;
  transition: 0.5s;
  position: absolute;
}
/* line for input-field that contain text field*/
.input-field {
  width: 100%;
  margin: 5px 0;
  padding: 10px 0;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  background: transparent;
}
/* button submit with border width and etc*/
.submit-btn {
  border: 0;
  width: 85%;
  margin: auto;
  outline: none;
  display: block;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 30px;
  background: #0003;
}
/* check box for margin into span position */
.check-box {
  margin: 30px 10px 34px 0;
}
span {
  bottom: 68px;
  font-size: 12px;
  color: #000000;
  position: absolute;
}
/* styling the id of login sign up-input*/
#login {
  left: 50px;
}
#login input {
  font-size: 16;
  color: #000000;
}
#sign-up {
  left: 450px;
}
#sign-up input {
  font-size: 16;
  color: #000000;
}
/*section used for posting news*/
.section-main {
  top: 15%;
  cursor: pointer;
  position: absolute;
  height: fit-content;
  width: 400px;
  margin-left: 19%;
  border-radius: 24px;
  background: #eee;
  text-align: center;
}
.middle-post img {
  width: 350px;
  border-radius: 10px;
}

.article-iframe {
  right: 0;
  top: 15%;
  height: 440px;
  position: absolute;
  text-align: center;
  background-color: #eee;
}
.article-iframe iframe {
  height: 250px;
  background-color: #ffffff;
}
/*second page singing table matter*/
.top {
  top: 55%;
  width: 34%;
  margin-left: 33%;
  padding: 20px;
  height: 120px;
  backdrop-filter: blur(20px);
  background: transparent;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
th {
  margin: 10px;
  width: 240px;
  color: #ffffff;
  text-align: center;
  background: #0044;
}
td {
  margin: 10px;
  width: 240px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  border-bottom: 10px solid #0044;
}
