{% extends "layout.html" %} {% block body %}

<h1 class="mt-5">Blue {{ name }}</h1>

<div class="button">
  <button
    onclick="document.getElementById('show-form').style.display='block'"
    width="auto"
  >
    Sign up
  </button>

  <div id="show-form" class="">
    <!--- creating the form-box --->
    <div class="form-box">
      <div class="button-box">
        <div id="btn"></div>
        <button type="button" onclick="login()" class="toggle-btn">
          Log In
        </button>
        <button type="button" onclick="signup()" class="toggle-btn">
          Sign Up
        </button>
      </div>
      <!--- creating login form --->
      <form action="/login" method="post" id="login" class="input-group-login">
        <input
          autocomplete="off"
          autofocus
          type="email"
          name="email"
          class="input-field"
          placeholder="Email.."
          id=""
          required
        />
        <input
          autocomplete="off"
          autofocus
          type="password"
          name="password"
          class="input-field"
          placeholder="Password"
          id=""
          required
        />
        <input type="checkbox" name="checkbox" class="check-box" id="" />
        <span>Remember Password</span>
        <button type="submit" class="submit-btn">Log in</button>
      </form>
      <!--- creating the signup form--->
      <form
        action="/sign"
        method="post"
        id="sign-up"
        class="input-group-sign-up"
      >
        <input
          autocomplete="off"
          autofocus
          type="text"
          name="fname"
          class="input-field"
          placeholder="First Name"
          required
        />
        <input
          autocomplete="off"
          autofocus
          type="text"
          name="lname"
          class="input-field"
          placeholder="Last Name"
          required
        />
        <input
          autocomplete="off"
          autofocus
          type="email"
          name="email"
          class="input-field"
          placeholder="Enter Email"
          required
        />
        <input
          autocomplete="off"
          autofocus
          type="password"
          name="password"
          class="input-field"
          placeholder="Enter Password"
          required
        />
        <input
          autocomplete="off"
          autofocus
          type="password"
          name="password"
          class="input-field"
          placeholder="Confirm Password"
          required
        />
        <input type="checkbox" name="checkbox" class="check-box" />
        <span>I agree to the terms and conditions</span>
        <button type="submit" class="submit-btn">Sign Up</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
